body {
    background-color: #FFF;
    display: grid;
    width: 85%;
    margin: auto;
    font-family: monospace;
    padding: 10px;
  }

header, nav, aside{
  display: flex;
  align-items: center;
  justify-content: center;
}

header{ 
    height:fit-content;
    padding: 15px;
    font-size: 30px;
    background-color: #1F2833 ;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
    color: white;
    display: flex;
}

header a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo{
  height: 30px;
  padding: 0px 15px;
}

main {
    color: #0B0C10 ;
    background-color:rgb(
      143, 218, 218);
    grid-column: 1 / span 5;
    margin: 5px 0px 5px 0px;
    padding: 15px 30px;
    align-items: left;
    justify-content: left;
    display: inline ;
    min-height: 350px;
}

article{
    font-size: 15px;
}

aside {
    display: block;
    background-color: #C5C6C7 ;
    grid-column: 1 / span 5;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    float:left;
    /*width: 100%; */
    font-size: 15px;
    font-weight: bold;
    
}

footer{
    height:fit-content;
    padding: 15px;
    font-size: 15px;
    background-color:#1F2833;
    color: white;
    margin: 5px 0px 10px 0px;
    display: inline;
 
}

nav {
    display: block;
    grid-column: 1 / span 5;
    overflow: hidden;
    height: fit-content;
    margin: 5px 0px 5px 0px;
    font-size: 15px;
    font-weight: bold;
    background-color: #C5C6C7;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color:  rgb(
      143, 218, 218);
  }

.active {
    background-color: #1F2833;
  }
  
header, footer {
  grid-column: 1 / span 5;
}


.beside{
    display: flex;
}

.bottom{
  padding-bottom: 20px;
}

.link a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.link a:hover{
  color: #E8DB7D;

}

.link-footer a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link-footer a:hover{
  color:rgb(143, 218, 218);
}

.footer-display{
  display:inline-flex;
  justify-content: center;
  position: relative;
  align-items: center
}

.footer-display div{
  padding: 0px 10px;
}

th, td, tr {
  padding: 3px 6px;
  vertical-align: text-top;
  border-collapse: collapse;
}

.dash-table table{
  background-color: whitesmoke ;  
  text-align: left;
  border: 10px solid whitesmoke;
  color:#1F2833 ;
  width: 75%;
}

h1{
  margin: 10px 0px 5px 0px;
  padding-bottom: 10px;
}

h2{
  margin:  10px 0px 15px 0px;
  font-size: 25px;
}


/* blog pagina 3 naast elkaar 

.card  {
  background-color: whitesmoke;
  padding: 12px;
  color: #0B0C10;
  display: table-cell;
  width: 300px;
  height: 300px;
}

/foto's croppen naar 7:5 verhouding/
.card-img{
  width: 300px;
  height: 250px;
}

.fake-img{
  width: 300px;
  height: 250px;
  background-color:#C5C6C7;
  margin: auto;
}
*/

.card  {
  background-color: whitesmoke;
  padding: 12px;
  color: #0B0C10;
  display: table-cell;
  width: 266px;
  height: 266px;
}

.card h2{
  font-size: 20px;
}

/*foto's croppen naar 7:5 verhouding*/
.card-img{
  width: 266px;
  height: 194px;
}

.fake-img{
  width: 266px;
  height: 194px;
  background-color:#C5C6C7;
  margin: auto;
}

.card:hover{
  background-color: #E8DB7D;
}

.blog-posts{
    display: table;
  }

.blog-posts a{
    text-decoration: none;
    color: black;
  }

.blog-posts h2{
  padding-top: 10px;
}

#img-blog-posts{
padding: 0px 0px 15px 15px;
}

 #box-container {
  display: flex;
  justify-content:left;
  flex-wrap: wrap;
  }

.container-item {
  padding: 0px 0px 30px 15px;
}
  
.terug-knop{
  background-color: #1F2833;
  color: #FFF;
}

.img-center{
  justify-content: space-between;
  display: flex;
}

p{
  font-size: 15px;
}

summary {
  font-weight: 550;
}

.faq{
  margin-top: 10px;
}